
/*Cloak*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*Animations*/
.ui-pane-viewport-content {

}

.ui-pane-viewport-content.ng-hide-remove-active {
  

}

.ui-pane-viewport-content.ng-hide-remove {
  
}


.ui-pane-viewport-content.ng-hide {
  display:block !important;
  height: 0px;    
}

.ui-pane-viewport-content.ng-hide-add {

}



