/*!
 * jQuery UI Button 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */



.ui-button {
    width:100%;
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin: 0 auto;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    min-height: $buttonBrickHeight;
    transition: color 150ms ease, background-color 500ms ease;
    box-sizing:border-box;
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
    width: $buttonBrickHeight;
    min-height: $buttonBrickHeight;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
    width: $buttonBrickHeight;
    min-height: $buttonBrickHeight;
}
.ui-button-icons-only {
    width: 3.4em;
    min-height: $brickHeight;
}
button.ui-button-icons-only {
    width: $buttonBrickHeight;
    min-height: $buttonBrickHeight;
}

/* button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
}
.ui-button-text-only .ui-button-text {
    display: block;
    line-height: $buttonBrickHeight;
    font-size: 14px;
    font-weight: normal;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
    text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 0;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 0;
}
.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
    padding: .4em 1em;
}

.ui-button .ui-icon {
    border: none;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
}
.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -7px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
    left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
}

/* button sets */
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*Priority States*/
.ui-button.ui-button-link {
    background: none;
    border: none;
    border-radius: $themeBorderRadius;
    color: $themeLinkColor;
}

.ui-button.ui-button-link span.ui-button-text {
 
}

.ui-button.ui-button-link.ui-state-hover{
    background: lighten($themeHeaderColor, 15%);
    color: darken($widgetHeadFontColor, 5%);
}

.ui-button.ui-button-link.ui-state-active{
    background: $themeHeaderColor;
    color: $widgetHeadFontColor;
    transition: color 1ms ease, background-color 5ms ease;
}

.ui-button.ui-state-hover .ui-icon, 
.ui-button.ui-state-focus .ui-icon,
.ui-button.ui-state-active .ui-icon{
    color:#fff;
}




