.ui-header {
  border-bottom: 10px solid $widgetHeadStop;
  height: 47px;
}

.ui-header-logo-text {
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  margin-top: 2px;
}

.ui-header-logo-image {

}

.ui-header-title {
  line-height: 47px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  color: #666666;
}

.ui-header-support {
  font-size: 14px;
  width: 332px !important;
}
