.ui-navigation {
  background-color: #ccc;
  position: absolute;
  top: 47px;
  bottom: 0px;
  width: 170px;
  overflow: hidden;
  padding-left:$brickPadding * 2;
  padding-right:$brickPadding * 2;
}

.ui-navigation .ui-button-link {
  background: #fff;
}

.ui-workspace {
  position: relative;
  overflow: auto;
}

.ui-comparisondetails {
  overflow: auto;
  margin-left: -2px;
}

.ui-navigation-facet {
  padding-bottom: 15px;
}