.ui-pane-legend {
    max-height:28px;
    color: $themeTextColor;
    font-size: 20px;
    margin-bottom: 2px;
}

.ui-pane-indention {
    overflow:visible;
    height:0px;
    
}

.ui-pane-legend-header{
    vertical-align: middle;
    font-family: $baseFontFamily;
}

.ui-pane-indention-treeline {
    
    position: relative;
    margin-top:6px;
    top:3px;
    left:9px;
    width:7px;
    border-left: dotted #bbb 1px;
    border-bottom: dotted #bbb 1px;
}

.ui-pane-viewport {
    overflow:hidden;
}


$miniButtonSize = 19px;
.ui-pane-toggle-frame .ui-button-icon-only{
    width:$miniButtonSize;
    height:$miniButtonSize;
    min-height: $miniButtonSize; 
}

.ui-pane-toggle-frame .ui-icon {
    margin-left: -8px;
    top: 8px;
    font-size:15px;
    
}