.ui-text input {
    line-height: $brickHeight;
    height: $brickHeight;
}

.ui-text .ui-text-closeicon {
    position: relative;
    height: $brickHeight;
    line-height: $brickHeight;
    text-align: center;
    right: $brickPadding;
    cursor: pointer;
}

.ui-text .ui-text-closeicon-frame {
    height:0;
    float:right;
    
}
