/* Icons
----------------------------------*/

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
	color: #00549f;
}
.ui-widget-header .ui-icon {
	color: #72a7cf;
}
.ui-state-default .ui-icon {
	color: #3d80b3;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	color: #2694e8;
}
.ui-state-active .ui-icon {
	color: #fff;
}
.ui-state-highlight .ui-icon {
	color: #2e83ff;
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	color: #fff;
}

/*Core Icon Font Style*/
.ui-icon {
    -webkit-font-smoothing: antialiased;
    content: attr(data-icon);
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    letter-spacing: 2px;
    line-height: 100%;
    overflow: hidden;
    padding: 0px;
    width: 16px;
}

.ui-icon:before {
        content: attr(data-icon);
        font-family: 'ui-icon-font-dev-1';
        font-style: normal;
        speak: none;
}

.ui-icon-arrowturn-1-s:before {
	content: "\e000";
}
.ui-icon-arrowturn-1-e:before {
	content: "\e001";
}
.ui-icon-arrowturn-1-n:before {
	content: "\e002";
}
.ui-icon-arrowturn-1-w:before {
	content: "\e003";
}
.ui-icon-arrowthick-1-sw:before {
	content: "\e004";
}
.ui-icon-arrowthick-1-se:before {
	content: "\e005";
}
.ui-icon-arrowthick-1-nw:before {
	content: "\e006";
}
.ui-icon-arrowthick-1-ne:before {
	content: "\e007";
}
.ui-icon-arrowthick-1-w:before {
	content: "\e008";
}
.ui-icon-arrowthick-1-s:before {
	content: "\e009";
}
.ui-icon-arrowthick-1-e:before {
	content: "\e00a";
}
.ui-icon-arrowthick-1-n:before {
	content: "\e00b";
}
.ui-icon-arrow-2-n-s:before {
	content: "\e00c";
}
.ui-icon-arrow-2-e-w:before {
	content: "\e00d";
}
.ui-icon-arrow-2-nw-se:before {
	content: "\e00e";
}
.ui-icon-arrow-2-ne-sw:before {
	content: "\e00f";
}
.ui-icon-arrow-1-sw:before {
	content: "\e010";
}
.ui-icon-arrow-1-se:before {
	content: "\e011";
}
.ui-icon-arrow-1-ne:before {
	content: "\e012";
}
.ui-icon-arrow-1-nw:before {
	content: "\e013";
}
.ui-icon-arrow-1-w:before {
	content: "\e014";
}
.ui-icon-arrow-1-s:before {
	content: "\e015";
}
.ui-icon-arrow-1-e:before {
	content: "\e016";
}
.ui-icon-arrow-1-n:before {
	content: "\e017";
}
.ui-icon-arrow-4-diag:before {
	content: "\e018";
}
.ui-icon-arrow-4:before {
	content: "\e019";
}
.ui-icon-radio-on:before {
	content: "\e01a";
}
.ui-icon-radio-off:before {
	content: "\e01b";
}
.ui-icon-check:before {
	content: "\e01c";
}
.ui-icon-close:before {
	content: "\e058";
}

.ui-icon-closethick:before {
	content: "\e058";
}

.ui-icon-certificate:before {
	content: "\e01d";
}
.ui-icon-help:before {
	content: "\e01e";
}
.ui-icon-info-b:before {
	content: "\e01f";
}
.ui-icon-info:before {
	content: "\e020";
}
.ui-icon-notice:before {
	content: "\e021";
}
.ui-icon-stop-sign:before {
	content: "\e022";
}
.ui-icon-alert-empty:before {
	content: "\e023";
}
.ui-icon-alert:before {
	content: "\e024";
}
.ui-icon-text-indent-decrease:before {
	content: "\e025";
}
.ui-icon-text-indent-increase:before {
	content: "\e026";
}
.ui-icon-text-align-right:before {
	content: "\e027";
}
.ui-icon-text-align-left:before {
	content: "\e028";
}
.ui-icon-text-align-center:before {
	content: "\e029";
}
.ui-icon-text-align-center-b:before {
	content: "\e02a";
}
.ui-icon-text-align-right-b:before {
	content: "\e02b";
}
.ui-icon-text-align-left-b:before {
	content: "\e02c";
}
.ui-icon-pinetree:before {
	content: "\e02d";
}
.ui-icon-scissors:before {
	content: "\e02e";
}
.ui-icon-clipboard:before {
	content: "\e02f";
}
.ui-icon-text-fontsize-increase:before {
	content: "\e030";
}
.ui-icon-text-fontsize-decrease:before {
	content: "\e031";
}
.ui-icon-sort:before {
	content: "\e032";
}
.ui-icon-text-style-lineheight-decrease:before {
	content: "\e033";
}
.ui-icon-text-style-lineheight-increase:before {
	content: "\e034";
}
.ui-icon-text-style-underline:before {
	content: "\e035";
}
.ui-icon-text-style-italic:before {
	content: "\e036";
}
.ui-icon-text-style-bold:before {
	content: "\e037";
}
.ui-icon-document-delete:before {
	content: "\e038";
}
.ui-icon-document-new:before {
	content: "\e039";
}
.ui-icon-company:before {
	content: "\e03a";
}
.ui-icon-circle-alert:before {
	content: "\e03b";
}
.ui-icon-circle-minus:before {
	content: "\e03c";
}
.ui-icon-graph-bar-b:before {
	content: "\e03d";
}
.ui-icon-graph-bar:before {
	content: "\e03e";
}
.ui-icon-graph-pie-b:before {
	content: "\e03f";
}
.ui-icon-graph-pie:before {
	content: "\e040";
}
.ui-icon-grid:before {
	content: "\e041";
}
.ui-icon-cog-set:before {
	content: "\e042";
}
.ui-icon-document-copy:before {
	content: "\e043";
}
.ui-icon-folder-copy:before {
	content: "\e044";
}
.ui-icon-star:before {
	content: "\e045";
}
.ui-icon-heart:before {
	content: "\e046";
}
.ui-icon-circle-star:before {
	content: "\e047";
}
.ui-icon-circle-arrow-1-e:before {
	content: "\e048";
}
.ui-icon-circle-arrow-1-n:before {
	content: "\e049";
}
.ui-icon-circle-arrow-1-w:before {
	content: "\e04a";
}
.ui-icon-circle-arrow-1-s:before {
	content: "\e04b";
}
.ui-icon-circle-check:before {
	content: "\e04c";
}
.ui-icon-pencil:before {
	content: "\e04d";
}
.ui-icon-circle-triangle-close:before {
	content: "\e04e";
}
.ui-icon-circle-triangle-1-e:before {
	content: "\e04f";
}
.ui-icon-circle-triangle-1-n:before {
	content: "\e050";
}
.ui-icon-circle-triangle-1-w:before {
	content: "\e051";
}
.ui-icon-circle-triangle-1-s:before {
	content: "\e052";
}
.ui-icon-laptop:before {
	content: "\e053";
}
.ui-icon-mobile:before {
	content: "\e054";
}
.ui-icon-monitor:before {
	content: "\e055";
}
.ui-icon-circle-question:before {
	content: "\e056";
}
.ui-icon-phone:before {
	content: "\e057";
}
.ui-icon-x:before {
	content: "\e058";
}
.ui-icon-minus:before {
	content: "\e059";
}
.ui-icon-plus:before {
	content: "\e05a";
}
.ui-icon-cancel:before {
	content: "\e05b";
}
.ui-icon-disk-b:before {
	content: "\e05c";
}
.ui-icon-disk:before {
	content: "\e05d";
}
.ui-icon-paintbrush:before {
	content: "\e05e";
}
.ui-icon-roller:before {
	content: "\e05f";
}
.ui-icon-pencil-2:before {
	content: "\e060";
}
.ui-icon-cart:before {
	content: "\e061";
}
.ui-icon-unlock:before {
	content: "\e062";
}
.ui-icon-lock:before {
	content: "\e063";
}
.ui-icon-menu:before {
	content: "\e064";
}
.ui-icon-cloud:before {
	content: "\e065";
}
.ui-icon-zoom-out:before {
	content: "\e066";
}
.ui-icon-zoom-in:before {
	content: "\e067";
}
.ui-icon-star-2:before {
	content: "\e068";
}
.ui-icon-flag-b:before {
	content: "\e069";
}
.ui-icon-flag:before {
	content: "\e06a";
}
.ui-icon-clock:before {
	content: "\e06b";
}
.ui-icon-bookmark:before {
	content: "\e06c";
}
.ui-icon-gear:before {
	content: "\e06d";
}
.ui-icon-wrench:before {
	content: "\e06e";
}
.ui-icon-unlink:before {
	content: "\e06f";
}
.ui-icon-link:before {
	content: "\e070";
}
.ui-icon-tags:before {
	content: "\e071";
}
.ui-icon-tag:before {
	content: "\e072";
}
.ui-icon-trash:before {
	content: "\e073";
}
.ui-icon-person:before {
	content: "\e074";
}
.ui-icon-suitcase:before {
	content: "\e075";
}
.ui-icon-extlink:before {
	content: "\e076";
}
.ui-icon-newwin:before {
	content: "\e077";
}
.ui-icon-window-close:before {
	content: "\e078";
}
.ui-icon-window:before {
	content: "\e079";
}
.ui-icon-arrowrefresh-w:before {
	content: "\e07a";
}
.ui-icon-arrowrefresh-s:before {
	content: "\e07b";
}
.ui-icon-arrowrefresh-e:before {
	content: "\e07c";
}
.ui-icon-arrowrefresh-n:before {
	content: "\e07d";
}
.ui-icon-arrowturn-e:before {
	content: "\e07e";
}
.ui-icon-arrowturn-s:before {
	content: "\e07f";
}
.ui-icon-arrowturn-n:before {
	content: "\e080";
}
.ui-icon-arrowturn-w:before {
	content: "\e081";
}
.ui-icon-arrowstop-1-w:before {
	content: "\e082";
}
.ui-icon-arrowstop-1-s:before {
	content: "\e083";
}
.ui-icon-arrowstop-1-e:before {
	content: "\e084";
}
.ui-icon-arrowstop-1-n:before {
	content: "\e085";
}
.ui-icon-arrow-2-se-nw:before {
	content: "\e086";
}
.ui-icon-arrow-2-ne-sw-2:before {
	content: "\e087";
}
.ui-icon-arrow-1-se-2:before {
	content: "\e088";
}
.ui-icon-arrow-1-sw-2:before {
	content: "\e089";
}
.ui-icon-arrow-1-nw-2:before {
	content: "\e08a";
}
.ui-icon-arrow-1-ne-2:before {
	content: "\e08b";
}
.ui-icon-arrow-2-e-w-2:before {
	content: "\e08c";
}
.ui-icon-arrow-2-n-s-2:before {
	content: "\e08d";
}
.ui-icon-arrow-1-e-2:before {
	content: "\e08e";
}
.ui-icon-arrow-1-w-2:before {
	content: "\e08f";
}
.ui-icon-arrow-1-s-2:before {
	content: "\e090";
}
.ui-icon-arrow-1-n-2:before {
	content: "\e091";
}
.ui-icon-carat-2-n-s:before {
	content: "\e092";
}
.ui-icon-carat-2-ew:before {
	content: "\e093";
}
.ui-icon-carat-1-ne:before {
	content: "\e094";
}
.ui-icon-carat-1-nw:before {
	content: "\e095";
}
.ui-icon-carat-1-sw:before {
	content: "\e096";
}
.ui-icon-carat-1-se:before {
	content: "\e097";
}
.ui-icon-carat-1-s:before {
	content: "\e098";
}
.ui-icon-carat-1-n:before {
	content: "\e099";
}
.ui-icon-carat-1-w:before {
	content: "\e09a";
}
.ui-icon-carat-1-e:before {
	content: "\e09b";
}
.ui-icon-triangle-2-n-s:before {
	content: "\e09c";
}
.ui-icon-triangle-2-e-w:before {
	content: "\e09d";
}
.ui-icon-triangle-1-ne:before {
	content: "\e09e";
}
.ui-icon-triangle-1-nw:before {
	content: "\e09f";
}
.ui-icon-triangle-1-sw:before {
	content: "\e0a0";
}
.ui-icon-triangle-1-se:before {
	content: "\e0a1";
}
.ui-icon-triangle-1-n:before {
	content: "\e0a2";
}
.ui-icon-triangle-1-w:before {
	content: "\e0a3";
}
.ui-icon-triangle-1-e:before {
	content: "\e0a4";
}
.ui-icon-triangle-1-s:before {
	content: "\e0a5";
}
.ui-icon-branch-new:before {
	content: "\e0a6";
}
.ui-icon-branch-merge:before {
	content: "\e0a7";
}
.ui-icon-branch:before {
	content: "\e0a8";
}
.ui-icon-video:before {
	content: "\e0a9";
}
.ui-icon-image:before {
	content: "\e0aa";
}
.ui-icon-search:before {
	content: "\e0ab";
}
.ui-icon-print:before {
	content: "\e0ac";
}
.ui-icon-note:before {
	content: "\e0ad";
}
.ui-icon-mail-open:before {
	content: "\e0ae";
}
.ui-icon-mail-closed:before {
	content: "\e0af";
}
.ui-icon-location:before {
	content: "\e0b0";
}
.ui-icon-home:before {
	content: "\e0b1";
}
.ui-icon-headphones:before {
	content: "\e0b2";
}
.ui-icon-folder-open:before {
	content: "\e0b3";
}
.ui-icon-folder-collapsed:before {
	content: "\e0b4";
}
.ui-icon-document-b-landscape:before {
	content: "\e0b5";
}
.ui-icon-document-landscape:before {
	content: "\e0b6";
}
.ui-icon-document:before {
	content: "\e0b7";
}
.ui-icon-document-b:before {
	content: "\e0b8";
}
.ui-icon-comment:before {
	content: "\e0b9";
}
.ui-icon-comment-b:before {
	content: "\e0ba";
}
.ui-icon-code:before {
	content: "\e0bb";
}
.ui-icon-videocamera:before {
	content: "\e0bc";
}
.ui-icon-camera:before {
	content: "\e0bd";
}
.ui-icon-calendar:before {
	content: "\e0be";
}
.ui-icon-battery-charge:before {
	content: "\e0bf";
}
.ui-icon-battery-3:before {
	content: "\e0c0";
}
.ui-icon-battery-2:before {
	content: "\e0c1";
}
.ui-icon-battery-1:before {
	content: "\e0c2";
}
.ui-icon-battery-0:before {
	content: "\e0c3";
}
.ui-icon-refresh:before {
	content: "\e0c4";
}
.ui-icon-transfer-e-w:before {
	content: "\e0c5";
}
.ui-icon-transfer-n-s:before {
	content: "\e0c6";
}
.ui-icon-filter:before {
	content: "\e0c7";
}
.ui-icon-list:before {
	content: "\e0c8";
}

/*Icon Font Sizes*/

.ui-icon-20 {
    font-size: 20px;
    height: 20px;
    width: 20px;
}


.ui-icon-24 {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.ui-icon-32 {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.ui-icon-48 {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

.ui-icon-64 {
    font-size: 64px;
    height: 64px;
    width: 64px;
}

.ui-icon-128 {
    font-size: 128px;
    height: 128px;
    width: 128px;
}


