/*Icons*/

@font-face {
  font-family: 'ui-icon-font-dev-1';
  src: url('fonts/ui-icon-font-dev-1.eot');
  src: url('fonts/ui-icon-font-dev-1.eot?#iefix') format('embedded-opentype'), url('fonts/ui-icon-font-dev-1.woff') format('woff'), url('fonts/ui-icon-font-dev-1.ttf') format('truetype'), url('fonts/ui-icon-font-dev-1.svg#ui-icon-font-dev-1') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-align: center;
  color: #666;
  font-family: $specialFontFamily;
  word-spacing: 3pt;
  letter-spacing: 1.5pt;
  font-size: 16px;
}

h2 {

  color: $themeTextColor;
  font-family: $specialFontFamily;
  font-size: 18px;
  word-spacing: 1.5pt;
  letter-spacing: 1.1pt;
  color: #666;
}

.ui-typography-textalign-center {
  text-align: center;

}

.ui-typography-textalign-top {
  vertical-align: top;
}

.ui-typography-textalign-right {
  text-align: right;
}

.ui-typography-textalign-left {
  text-align: left;
}

.ui-typography-textalign-center.ui-icon {
  display: inline-block;
}

.ui-typography-uppercase {
  text-transform: uppercase;
}


