
/*
A - Header Background - White
B - Application Name - 
C - Header Bottom Border - 00549f, 5px
D - Header Links - 00549f, Arial, 12pt, Bold

Welcome Screen:
E - Welcome Message Border - 00549f, 3px
F - Welcome Message Background - f7f7f7
G - Welcome Message Text - Header:  Myriad Pro, 30pt, Bold; Body: Myriad Pro, 14pt, Regular
H - Zip Code Facet In Focus - f4fab2
I - Facet Titles -  00549f, Arial, 14pt, Bold
J - Column Header Background - bdbdbd
K - Table Row Dividers - 666666, 1px
L - Table Background - White

Search Screen
A - Column Header Background - bdbdbd
B - Column Titles - White - Arial, 14pt, Regular
C - Sort Triangle - 00549f
D - Table Background - White
E - Table Row Dividers - 666666, 1px
F - CTA "Compare"
Border - 017eba, 4px
Background - 00549f
Text - White - Myriad Pro, 12pt, Bold
G - Facet Text
Disabled - 666666, Arial, 14pt, Italic
Enabled, Unselected - 00549f, Arial, 14pt, Regular
Selected - 00549f, Arial, 14pt, Bold
H - City, ST - 666666, Arial, 12pt, Italic
I - Zip Code Text - 00549f, Arial, 12pt, Regular
J - Promo Price Text - 666666, Myriad Pro, 24pt, Bold
K - Reg Price, Feature Columns 1-4 - 666666, Myriad Pro, 18pt, Regular
L - Plan Name - 666666, Myriad Pro, 16pt, Regular
*/

support-for-ie ?= true

/*sizing*/
$brickHeight = 28px;
$buttonBrickHeight = $brickHeight;

$brickPadding = 4px;
$brickBorderShim = 1px;

/*Form Default*/
$baseFontFamily = Helvetica, Arial, Calibri;
$specialFontFamily = Helvetica, Arial, Calibri;

$themeTextColor = #434343;
$themeLinkColor = #2779aa;

$themeBorderRadius = 4px;

$focusInsetShadow = 0 0 5px rgba(0, 0, 255, 0.8);
$focusInsetTransition = box-shadow .3s ease-in-out;

$themeBorderDefault = 1px solid #bbb;
$themeBorderHover = 1px solid rgba(0,0,0,0.7);
$themeBorderActive = 1px solid rgba(255,0,0,1);

$themeHeaderColor = #00549f;

$widgetContentStart = rgba(255,255,255, 1);
$widgetContentStop = rgba(255,255,255,0.9);
$widgetContentBack = #ffffff;

$widgetHeadStart = #00549f;
$widgetHeadStop = #00549f;
$widgetHeadFontColor = #eeeeee;

$stateDefaultStart = rgb(96, 96, 96, 1);
$stateDefaultStop = rgb(63, 76, 107, 1);
$stateDefaultFontColor = rgba(245,245,245, 0.9);

$stateHoverStart = lighten($stateDefaultStart, 35%);
$stateHoverStop = darken($stateDefaultStop, 5%);
$stateHoverFontColor = rgba(245,245,245, 1);

$stateFocusStart = rgb(96, 108, 136, 1);
$stateFocusStop = rgb(63, 76, 107, 1);
$stateFocusFontColor = rgba(245,245,245, 0.9);

$stateActiveStart = darken($stateDefaultStop, 40%);
$stateActiveStop = lighten($stateDefaultStart, 40%);
$stateActiveFontColor = rgba(245,245,245, 0.9);

$stateDisabledColor = #888;


$floatingelementShadowColor = #888;
$floatingelementShadowColorFocus = #666;




