.ui-shim-placeholder-frame {
    display:block; 
    height:0; 
    float:left; 
    overflow:visible; 
    text-indent: $brickPadding; 
}

.ui-shim-placeholder{
    height:$brickHeight; 
    position:absolute; 
    color:$stateDisabledColor;
    line-height: $brickHeight;
}