/* Component containers
----------------------------------*/
.ui-widget {
	font-family: $baseFontFamily;
	font-size: 1em;
      zoom: 1;
}
.ui-widget .ui-widget {
	font-size: 1em;
      font-weight: normal;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: $baseFontFamily;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #bbb;
	background: $widgetContentBack;
      color: $themeTextColor;
}
.ui-widget-content a {
	color: $widgetHeadFontColor;
}
.ui-widget-header {
	border: 1px solid #fff;
	background: #fff;
	color: #333;
	font-weight: bold;
}
.ui-widget-header a {
	color: $widgetHeadFontColor;
}


/*Refactor these*/
.ui-search .ui-widget-header {
    border: none;
    background: #fff;
}







